.containers {
    text-align: center;
    padding: 0 5%;
}
.dot {
    color: white;
    padding: 50px 0;
}

.top p {
    max-width: 45%;
    margin-left: 27%;
}

.containers .services h2,
.containers .services h4 {
    padding: 15px 0;
}


.services p {
    padding-bottom: 30px;
}

@media screen and (max-width: 990px) {
    .gaping div p {
        padding-bottom: 70px;
    }
    .gaping {
        padding: 0 2%  ;
    }
    .top p {
        max-width: 90%;
        margin-left: 5%;
        padding-bottom: 70px;
    }
}