
.banner__img {
    margin: 0;
    padding: 0;
    width: 100%;

}

.banner__img img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    position: relative;
}


.name {
    margin-top: -420px;
    position: absolute;
    padding-left: 10%;
}
.name h1,
.name h4 {
    color: white;
    max-width: 600px;
    
}

.name h1 {
    font-size: 70px;
}
.name h4 {
    font-size: 35px;
}


@media screen and (max-width: 992px) {
    .banner__img img {
        height: 700px;
    }
    .name {
        margin-top: -300px;
    }
    .name h1 {
        font-size: 50px;
    }
    .name h4 {
        font-size: 30px;
    }
}
@media screen and (max-width: 670px) {
    .banner__img img {
        height: 570px;
    }
    .name {
        margin-top: -250px;
    }
    .name h1 {
        font-size: 40px;
    }
    .name h4 {
        font-size: 20px;
    }
}
@media screen and (max-width: 470px) {
    .banner__img img {
        height: 470px;
    }
    .name h1 {
        font-size: 30px;
    }
    .name h4 {
        font-size: 15px;
    }

}